@import "../../global.scss";

.works {
  background-color: #f8e2cf;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 30px;
    }

    &.right {
      right: 30px;
      transform: rotate(-180deg);
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-in-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      align-items: center;
      justify-content: center;
      display: flex;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 70%;
          height: 70%;
          margin: 15px 0;
        }

        .left {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
              width: 90%;
              height: 90%;
            }

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: #f8e2cf;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;

              @include mobile {
                width: 20px;
                height: 20px;
              }

              img {
                width: 25px;

                @include mobile {
                  width: 15px;
                }
              }
            }
            h2 {
              font-size: 20px;

              @include mobile {
                font-size: 13px;
              }
            }
            p {
              font-size: 13px;

              @include mobile {
                font-size: 10px;
              }
            }
            a {
              span {
                font-size: 12px;
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
        }

        .right {
          flex: 8;
          height: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          overflow: hidden;

          img {
            width: 450px;
            height: 330px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
